{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,hi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<h2>Bulk Upload</h2>
Download File : <a href="{% url 'dashboard:download' %}"><!-- <button class="btn-primary"> -->
	<img src="/media/download.jpeg" style="height: 45px;width: 45px ; border-radius: 20px 20px">
<!-- </button> --></a> 
<p>Select file downloaded and filled from above  link to upload multiple students at a time.</p>
<form action="{% url 'dashboard:bulk_upload' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
<div class="form-group">
	    <div class="col-md-8">
        <input type="file" name="csv_file" id="csv_file" accept=".csv" required="True" class="form-control">
        <input type="submit" name="submit" value="" class="btn btn-primary" style="background-image: url('/media/upload1.jpeg'); border:1px solid white; background-repeat:no-repeat;background-size:100% 100%; width: 45px; height: 45px; border-radius: 20px 20px;">
    	</div>                    
</div>
	<style type="text/css">
		/*input[type=submit] {
		    background: url('/media/upload.jpeg');
		    height: 45px;
		    width: 45px;
		}*/
	</style>
</form>

{% endblock %}